body {
	font-family:"roboto medium" ,arial, verdana, san-serif;
    font-size:15px;
	line-height:22px;
	color:283136;
	font-weight: normal;
	}
.medium_title {
	font-family:"roboto medium",arial, verdana, san-serif;
    font-size:18px;
	line-height:30px;
	color:000000;
	font-weight: normal;
	}
