
.clearfix::after  {
	content:"";
	display:table;
	clear: both;
     }
body {
	font-family:"roboto medium" ,arial, verdana, san-serif;
    font-size:15px;
	line-height:22px;
	color:#283136;
	font-weight:normal;
	min-width:890px;
    }
	
img  {
	display:block;
	}
	
input  {
	display:block;
	}

.main_navigation ul  {
	margin:0;
	padding:0;
	list-style:none;
    }

.medium_title {
	font-family:"roboto medium",arial, verdana, san-serif;
    font-size:18px;
	line-height:30px;
	color:#000000;
	font-weight: normal;
	}
.main_header  {
	background-color:#eeeeee;
	
	
    } 
.container  {
	width:880px;
    padding:0 10px;
	margin:0 auto;
	background-color:#eeeeee;
	
    }
.header_logo  {
	
	background-color:#eeeeee;
	min-height:60px;
	width:140px;
	float: left;
	
    }
.main_navigation  {
	background-color:#eeeeee;
	font-size:0px;
	width:630px;
	float:left;
    }
	
	
.main_navigation_item  {
	display:inline-block;
	color:#7f7f7f;
	font-size:14px;
	line-height:30px;
	padding-right:45px;
	padding-bottom:10px;
	padding-top:30px;
	text-decoration:none;
		    }
.main_navigation_item:first-child	{
	margin-left:180px;
}
			
.main_navigation_item a  {
text-decoration:none;
color:#000000;	
          }
.main_navigation_item a:hover  {
	color:#fb565a;
	 text-decoration:none;
    }
.main_navigation_item a:active  {
	color:#8f8f8f;
	 text-decoration:none;
    }
.main_navigation_item a.active:focus  {
	color:#8f8f8f;
	text-decoration:underline;
    }
	
.user_block  {
	background-color:#eeeeee;
	padding-top:30px;
	padding-bottom:10px;
	max-width:110px;
	float:right;
    }
.user_block a  {
	position:relative;
	display:inline-block;
	text-decoration:none;
    color:#000000;
	padding-left:35px;
    }
.user_block a:hover  {
	color:#fb565a;
	 text-decoration:underline;
    }
.user_block a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 18px;
  height: 18px;
  background: #ff0000;
}
.main_header	{position:relative;}
	
.header_logo  {
background:#eeeeee;
position:absolute
width:139px;
height:56px;
top:100px;
left:20px;
}
	

	
.main_slider  {
	background-color:#eeeeee;
	min-height:335px;
	
    }
	
.products {
	background-color:#ffffff;
	min-height:460px;
	padding-left:0;
	padding-right;0;
    }
	
.products_item  {
	background-color:#ffffff;
	width:240px;
	padding:10px;
	padding-bottom:20px;
	margin-left:50px;
	margin-top:70px;
	margin-bottom:80px;
	float:left;
	}
	.products_item a  {
	position:relative;
	display:inline-block;
	text-decoration:none;
	background:#fb565a;
	font-size:12px;
	line-height:18px;
    color:#ffffff;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:35px;
	padding-right:35px;
	border-radius:5px;
    }
	
.products_item:first-child {
	margin-left:0;
}

	
.features  {
	background-color:#cf7474;
	min-height:475px;
    }
.about  {
	width: 575px;
	background-color:#c5ef1f;
	float:left;
    }
.about_title  {
	font-size:36px;
	line-height:36px;
    color:#000000;
}
.simple_text  {
	font-size:15px;
	line-height:22px;
    color:#283136;
}


.features_right_column  {
    width: 230px;
	background-color:#c5ef1f;
	float:right;
    }

.clients  {
	background-color:#4d5ce5;
	min-height:170px;
	margin-bottom:90px;
    }
	
.clients_img  {
	background-color:#19ef1e;
	min-height:140px;
	width:220px;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:80px;
	float:left;
    }
	
.clients_img:first-child {
	margin-left:0;
    }
	
.contacts  {
	position:relative;
	
}
.contacts_text  {
	position:absolute;
	bottom:60px;
	left:215px;
	
}
.main_footer  {
	background-color:#eeeeee;
    }
.footer_social  {
	background-color:#19ef1e;
	min-height:65px;
	width:240px;
	padding:10px;
	margin-top:75px;
	margin-bottom:75px;
	float:left;
    }

.footer_right_column  {
	background-color:#19ef1e;
	height:65px;
	width:550px;
	padding:10px;
	margin-left:25px;
	margin-top:75px;
	margin-bottom:75px;
	float:right;
    }
	
.contacts  {
background-color:#cf7474;
	min-height: 420px;
	}
.btn_contacts  {
	display:inline-block;
	text-decoration:none;
	background:#fb565a;
	font-size:12px;
	line-height:18px;
    color:#ffffff;
	padding-top:12px;
	margin-top:35px;
	padding-bottom:12px;
	padding-left:50px;
	padding-right:50px;
	border-radius:5px;
}
.contacts_text {
	display:inline-block;
	padding-left:23px;
	padding-right:23px;
	max-width:200px;
	height:240px;
	background-color:#ffffff;
	margin-top:90px;
	float:left;
}

.social_btn  {
	display:inline-block;
	padding-right:10px;
             }
			 
.left_column  {
	width: 240px;
	background-color:#c5ef1f;
	float:left;
}

.right_column  {
	width: 560px;
	background-color:#c5ef1f;
	float:right;
}

.catalog_menu  {
font-size:0px;}


.catalog_menu_head  {
	font-size:12px;
	float:left;
	margin-bottom:50px;
    }
	

.catalog_menu_item  {
	display:inline-block;
	font-size:12px;
	margin-left:30px;
	margin-bottom:50px;
	}
	
.catalog_menu_arrow_down  {
    display:inline-block;
    font-size:12px;
	padding-left:30px;
	margin-bottom:50px;
    }
	
.catalog_menu_arrow_up  {
    display:inline-block;
     font-size:12px;
	padding-left:30px;
	margin-bottom:50px;
    }
	
.catalog_item  {
	display:inline-block;
	margin-left:80px;
	margin-bottom:110px;
	}

.catalog_item:nth-child(odd) {
	margin-left:0;
    }
	
.catalog  {
	font-size:0;
	}
	
.catalog__paginator  {
	font-size:0;
    }
	
.catalog__paginator_item {
    display:inline-block;
	font-size:12px;
	padding-left:30px;
    }

	
.catalog__paginator_next {
    display:inline-block;
	font-size:12px;
	padding-left:30px;
    }
	
.catalog_title  {
	padding-top:150px;
	padding-bottom:90px;
	margin-left:300px;
    }

	
.items{
      float:left;
}
