.clearfix::after  {
	content:"";
	display:table;
	clear: both;
     }
body {
	font-family:"roboto medium" ,arial, verdana, san-serif;
    font-size:15px;
	line-height:22px;
	color:#283136;
	font-weight: normal;
    }
	
img  {
	display:block;
	}
	
input  {
	display:block;
	}

	ul  {
	margin:0;
	padding: 0;
    }

.medium_title {
	font-family:"roboto medium",arial, verdana, san-serif;
    font-size:18px;
	line-height:30px;
	color:#000000;
	font-weight: normal;
	}
.main_header  {
	background-color:#eeeeee;
	
    } 
.container  {
	width:880px;
    padding:0 10px;
	margin:0 auto;
	background-color:#ccc9c9;
	
    }
.header_logo  {
	background-color:a5a2a2;
	min-height:100px;
	width:140px;
	float: left;
	
    }
.main_navigation  {
	background-color:#9456fb;
	font-size:0px;
	width:630px;
	float:left;
    }
	
	
.main_navigation_item  {
	display:inline-block;
	font-size:14px;
	padding-right:40px;
	padding-bottom:15px;
	padding-top:63px;
    }
	
	
.user_block  {
	background-color:#fb565a;
	padding-top:63px;
	padding-bottom:15px;
	width:110px;
	float:right;
    }
	

	
.main_slider  {
	background-color:#edd113;
	min-height:335px;
    }
	
	.products {
	background-color:#0ef32f;
	min-height:460px;
    }
	
.products_item  {
	background-color:#f77e09;
	width:240px;
	padding:10px;
	padding-bottom:20px;
	margin-left:50px;
	margin-top:80px;
	margin-bottom:80px;
	float:left;
	}
	
.products_item:first-child {
	margin-left:0;
}
	
.features  {
	background-color:#cf7474;
	min-height:475px;
    }
.about  {
	width: 575px;
	background-color:#c5ef1f;
	float:left;
	
    }

.features_right_column  {
    width: 230px;
	background-color:#c5ef1f;
	float:right;
    }

.clients  {
	background-color:#4d5ce5;
	min-height:170px;
	margin-bottom:90px;
    }
	
.clients_img  {
	background-color:#19ef1e;
	min-height:140px;
	width:220px;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:80px;
	float:left;
    }
	
.clients_img:first-child {
	margin-left:0;
    }
	
.main_footer  {
	background-color:#eeeeee;
    }
.footer_social  {
	background-color:#19ef1e;
	min-height:65px;
	width:240px;
	padding:10px;
	margin-top:75px;
	margin-bottom:75px;
	float:left;
    }

.footer_right_column  {
	background-color:#19ef1e;
	height:65px;
	width:550px;
	padding:10px;
	margin-left:25px;
	margin-top:75px;
	margin-bottom:75px;
	float:right;
    }
	
.contacts  {
background-color:#cf7474;
	min-height: 415px;
	}

.contacts_text {
	width: 250px;
	background-color:#c5ef1f;
	margin-top:90px;
	float:left;
}

.social_btn  {
	display:inline-block;
	padding-right:10px;
             }
			 
.left_column  {
	width: 240px;
	background-color:#c5ef1f;
	float:left;
}

.right_column  {
	width: 560px;
	background-color:#c5ef1f;
	float:right;
}

.catalog_menu  {
font-size:0px;}


.catalog_menu_head  {
	font-size:12px;
	float:left;
	margin-bottom:50px;
    }
	

.catalog_menu_item  {
	display:inline-block;
	font-size:12px;
	margin-left:30px;
	margin-bottom:50px;
	}
	
.catalog_menu_arrow_down  {
    display:inline-block;
    font-size:12px;
	padding-left:30px;
	margin-bottom:50px;
    }
	
.catalog_menu_arrow_up  {
    display:inline-block;
     font-size:12px;
	padding-left:30px;
	margin-bottom:50px;
    }
	
.catalog_item  {
	display:inline-block;
	margin-left:75px;
	margin-bottom:110px;
	}

.catalog_item:nth-child(odd) {
	margin-left:0;
    }
	
.catalog__paginator  {
	font-size:0;
    }
	
.catalog__paginator_item {
    display:inline-block;
	font-size:12px;
	padding-left:30px;
    }

	
.catalog__paginator_next {
    display:inline-block;
	font-size:12px;
	padding-left:30px;
    }
	
.catalog_title  {
	padding-top:150px;
	padding-bottom:90px;
	margin-left:300px;
    }

